
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    font-family: Arial, sans-serif;
}
.body_page{
    min-height: 100vh;
    background-color: hsl(210, 60%, 98%);
    display: flex;
    padding: 1rem;
}
.container{
    max-width: 800px;
    width: 100%;
    margin:auto;
    padding: 2rem 1rem;
    border-radius: 1.25rem;
    background-color: #fff;
}
.bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
}
.bar h1{
    font-size: 1.2rem;
    color: hsl(219, 85%, 26%);
}
.bar_logo{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.notification_btn{
    padding: 5px 15px;
    border: none;
    background-color: hsl(219, 85%, 26%);
    color:hsl(0, 0%, 100%);
    font-size: 1rem;
    font-weight: 600;
    border-radius: .5rem;
    cursor: pointer;
}
.notification_btn:hover{
    background-color: hsl(219, 54%, 50%);
}
.all_read_text p{
    font-size: 1.1rem;
    text-transform: capitalize;
    color: hsl(219, 12%, 42%);
    cursor: pointer;
}
/* notification components  */
.toggle_notification{
    margin-top: 2rem;
    position: relative;
    display: none;
}
.active{
    display: inline;
}
.unread_notification{
    background-color: hsl(211, 68%, 94%);
    display: flex;
    align-items: center;
    gap: 1.25rem;
    padding: .5rem 1rem;
    border-radius: 1rem;
    margin: 1rem 0;
    cursor: pointer;
}
.notification_image img{
    width: 60px;
}

.notification_bio p{
    font-size: 1.1rem;
    letter-spacing: .02rem;
    color: hsl(219, 12%, 42%);
    margin-bottom: 7px;
    font-weight: 500;
}
.blue_bold_name{
    color: hsl(219, 85%, 26%);
    font-weight: 600;
    font-size: 1.2rem;
}
.gray_bold_text{
    color: hsl(218, 18%, 54%);
    font-weight: 600;
}
.notification_date p{
    color: hsl(219, 14%, 63%);
}
.active_sign{
    height: 10px;
    width: 10px;
    background-color: hsl(1, 90%, 64%);
    display: inline-block;
    border-radius: 100%;
}


/* third notification section  */
.read_notification{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    align-items: flex-start;
    gap: 1.25rem;
    padding: .5rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
    margin: 1rem 0;
}
.expand_comment{
    border: 1px solid hsl(219, 19%, 83%);
    padding: 1rem;
    margin-top: .5rem;
    margin-bottom: 2rem;
    border-radius: .4rem;
}
.expand_comment p{
    font-size: 1.1rem;
    color: hsl(219, 14%, 63%);
}


